.border{
    margin-left: 300px;
    height: 400px;
}

.option{
    display: flex;
    flex-direction: column;
    text-align: start;
   
}
.form-check-input{
    margin: 10px;
}

.radio{
    margin-right: 10px;
}



@media screen and (max-width: 992px){

    .card{
        margin-right: 700px;
        height: 500px;
        width: 150px;
    }
    .card-body {
        border-left: 500px;
        
    }
}