.fs-4 a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
.img-icon{
    width: auto;
    height: 70px;
}




@media screen and (max-width: 992px) {
    .responsive{
        font-size: 20px;
        margin-right: 20px;
        margin-bottom: 70px;
    }

    .fs-4{
        margin-top: -10px;
    }

    .path{
        font-size: 15px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }
    .path-second{
        margin-left: 25px;
    }
    .fs-4{
        margin-top: 6px;
    }

    .img-icon{
        width: 30px;
        height: 30px;
        margin-left: 11px;
    }

}